@use "variables" as *;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
body {
  font-family: $font-primary;
  background-color: $color-background;
  color: $color-white;
  display:grid;
  grid-template-columns: 240px 1fr; // aside fixed, content flexible
  grid-template-rows: 60px 1fr;     // header height fixed, main fills remaining
  grid-template-areas:
    "aside header"
    "aside main";
  height: 100vh; // full viewport height
  margin: 0;
}